
.topbar{
  width: 100%;
  background-color:#2BB8E6;
  height: 13vh;;
  display: flex;
  overflow: auto;
}
.logo{
  flex:2;
  float:left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logophoto{
  width:100%;
  height: 50%;
}
.search{
  flex: 7;
  float:left;
  display: grid;
  place-items: center;
}
.inputbox{
  width: 80%;
}
.gap{
  flex:0.3;
}
.notification{
  flex:1;
  float:left;
  display: flex;
  align-items: center;
  justify-content:right;
}
.profile{
  flex: 1;
  float:left;
  display: flex;
  align-items: center;
  justify-content:left;

}
.icon1{
  font-size: 50px;
  color: white;
}
.img{
  border-radius: 50px;
  max-height: 50px;
  max-width: 50px;
}
@media screen and (max-width: 700px) {
  .logo{
    flex:6;
  }
  .logophoto{
    width: 100%;
    height: 50%;
  }
  .profile{
    display: grid;
    place-items: center;
  }
  /* .search {
    width: 100%;
  }
  .notification{
    width: 50%;
    float: left;
  }
  .profile{
    width: 50%;
  } */
}


/* navbar */

/* ROOT CSS VARIABLES */
:root {
  --color-white: #ffffff;
  --color-light-blue: #f2fbfe;
  --color-blue: #2bb8e6;
  --color-gray-light: #f2f2f2;
  --color-gray-dark: #606060;
  --color-dark: pink;
  --color-primary: #e6592b;
  --card-padding: 1.6rem;
  --padding-1: 1rem;
  --padding-2: 8px;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none !important;
}
main {
  display: flex;
  grid-template-columns: 16rem auto;
  max-width: 100%;
  text-decoration: none !important;
}

/* main section.middle{
	background: blueviolet;
} */

main aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: var(--color-white);
  width: 260px;
}

main aside button#close-btn {
  display: none;
}

.google-icon {
  font-size: 35px !important;
  display: inline-block !important;
}

main aside .sidebar a {
  display: flex;
  align-items: center;
  width: 260px;
  gap: 1.2rem;
  height: 4.2rem;
  color: var(--color-gray-dark);
  position: relative;
  background: var(--color-white);
}

main aside .sidebar a span {
  font-size: 1.7rem;
  margin-left: 3rem;
  transition: all 300ms ease;
}

main aside .sidebar a.active {
  background: var(--color-light-blue);
  border-left: 7.5px solid var(--color-gray-dark) !important;
}
/* main aside .sidebar a.active :after {
  width: 6px;
  height: 100%;
  position: absolute;
  background: var(--color-gray-dark) !important;
} */

main aside .sidebar a:hover {
  color: var(--color-primary);
}

main aside .sidebar a:hover span {
  margin-left: 2rem;
}

main aside .sidebar h4 {
  font-weight: bold;
}


/* TRASLATOR DASHBOARD */
.transcontent{
  display: flex;
 flex-direction:row;
}
.transbody{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  background-color:#F2FBFE;
}
.transbody h3{
  color: #606060;
}
.transfirstrow{
  display: flex;
  width: 100%;
  /* height: 300px; */
  flex:1;
  justify-content: center;
  }
.transsecondrow{
  flex: 1;
  width: 100%;
  /* height:200px; */
 flex-direction: row;
 display: flex;
 
}
.dash1table{
 width: 95%; 
}

.dash2table{
  width: 45%; 
  margin-left: 3%;
}
.pickbutton{
  display: flex;
 
}

/* .dash2table th{
color: #606060;
}
.dashassigntable{
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin-top: 2%;
}
.dashassigntable th, .dashassigntable td{
  text-align: left;
  padding-left: 30px;
  height: 45px;
}
.dashassigntable thead{
  background-color: #F2F2F2;
}
.dashassigntable thead th:first-child{
  border-top-left-radius: 35px;
}
.dashassigntable thead th:last-child{
border-top-right-radius: 35px;
}


.dashassigntable thead{
 background-color: #f2f2f2;
font-family: "Lato", sans-serif;
 color: #606060;

}
.dashviewbutton{
background-color: #e6592b;
border: none;
color: #ffffff;
border-radius: 5px;
width: 90px;
 height: 30px;
}
.dashstartbutton{
background-color: transparent;
border-width: 1px;
border-style: solid;
border-color: #e6c42b;
color: #000000;
border-radius: 5px;
width: 90px;
height: 30px;
}
.dashviewbutton:hover,
.dashstartbutton:hover {
  background-color: transparent;
color: #e6592b;
border-color: transparent;

}


.dashdrafttable{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
  }
.dashdrafttable th, .dashdrafttable td{
    text-align: left;
    padding-left: 30px;
    height: 45px;
  }
.dashdrafttable thead{
    background-color: #F2F2F2;
  }
.dashdrafttable thead th:first-child{
    border-top-left-radius: 35px;
  }
.dashdrafttable thead th:last-child{
  border-top-right-radius: 35px;
  }
.dashdrafttable thead{
   background-color: #f2f2f2;
  font-family: "Lato", sans-serif;
   color: #606060;
}*/


.dash3table{
  width: 45%;
  height: 50%;
  margin-left: 3%;
  } 
  /* mqueue */
  .qfullcontent{
    display: flex;
    flex-direction: row;
    background-color: #F2FBFE;
     }
     .qfirsttable{
      width: 100%;
      flex:4;
      margin-right: 10px;
      margin-left: 1%;
    }
 .q2ndrow{
  flex:3;
  display: flex;
  flex-direction: column;
  margin-right: 1%;
 }
  .qcontent{
    display: flex;
    width: 60%;
    flex-direction:row;
  }
  
.qdraft{
  flex:1;
}
.qcomplete{
  flex:1;
}
.google-icon {
  font-size: 35px !important;
  display: inline-block !important;
  background-color:transparent !important;
}
.cb{
  background-color: transparent;
}
.filter{
  display: flex;
  align-items: flex-start;
}